<div class="navbar-cont mat-elevation-z8">
    <a class="nav-link active logo" aria-current="page" href="#">Row<span>And</span>Order</a>
    <nav>
        <ul ngbNav #nav="ngbNav" [activeId]="2" class="nav-tabs justify-content-center">

            <li ngbDropdown class="nav-item">
                <a href (click)="false" class="nav-link" ngbDropdownToggle id="net-status">{{authS.getCurrentUser().username}}</a>
                <div ngbDropdownMenu>
                    <a ngbDropdownItem class="nav-link inside" href="/profile">Tuo profilo</a>
                    <div class="dropdown-divider"></div>
                    <a ngbDropdownItem class="nav-link inside" href="/game">Gioca</a>
                    <div class="dropdown-divider"></div>
                    <a ngbDropdownItem class="nav-link inside" href="/ranking">Classifica</a>
                    <div class="dropdown-divider"></div>
                    <app-logout type="button" class="inside logout"></app-logout>
                </div>
            </li>
            
        </ul>
    </nav>
</div>