*{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.mat-elevation-z8{
  border-radius: 10px;
}
  table{
    border-color: black;
    border-radius: 10px;
    width: 99%;
    height: 80%;
    position: relative;
    left: 50%;
    transform: translate(-50%);
  }

  table th, td {
    text-align: center;
  }

  td{
    font-size: 22px;
  }

  th{
    font-size: 30px;
    border: #c02936;
    color: black;
    font-weight: bold;
  }

  h1 {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 56px;
    text-shadow: -2px 1px 3px rgb(30, 28, 28);
  }

  #rank{
    margin: 50px;
    margin-bottom: 160px;
  }

  .golden{
    background-color: gold;
    opacity: 90%;
  }

  .silver{
    background-color: rgb(223, 210, 210);
    opacity: 90%;
  }

  .bronze{
    background-color: rgb(241, 138, 35);
    opacity: 90%;
  }