.logout{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: none;
    background: none;
    text-transform: uppercase;
    font-weight: bold;
    color: red;
}

.logout:hover {
    color: rgb(194, 24, 24);
}
