
.tasto {
  scale: 2;
  background-color: #c02936;
  color: aliceblue;
}

.tasto-pos{
  position: absolute;
  top: 600px;
  left: 50%;
  transform: translate(-50%);
  padding: 10px;
  transition: all 1s;
}

.tasto:hover{
  background-color: aliceblue;
  color: #c02936;
  animation: floor($number: 0);
  box-shadow: -2px -3px 20px 2px red;
}